@import url('https://fonts.googleapis.com/css?family=Droid+Serif|Raleway');

.action-btn-group {
		display: flex;
		justify-content: center;
		border-radius: 5px;
		align-items: center;
		margin-top: 1vh;
		margin-bottom: -7vh;
		z-index: 3;
}

.action-btn-group .button {
		border: 1px solid #dbdbdb;
		border-radius: 5px;
		background-color: linear-gradient(to top, rgba(217, 217, 217, 1) 0%, rgba(202, 202, 202, 0.5) 100%);
		font-family: 'Raleway';
		font-style: normal;
		font-weight: 400;
		color: grey;
		font-size: 1em;
		padding: 0.375em;
		text-align: center;
		box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
}

.action-btn-group .active {
		background-image: linear-gradient(to top, rgba(217, 217, 217, 1) 0%, rgba(202, 202, 202, 0.5) 100%);
		color: #157EFB;
		box-shadow: inset 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
}

.action-btn-group .button:focus {
		outline: none;
}

.action-btn-group .button:first-child {
		border-bottom-right-radius: 0;
		border-top-right-radius: 0;
		border-right: 0;
}

.action-btn-group .button:last-child {
		border-bottom-left-radius: 0;
		border-top-left-radius: 0;
		border-left: 0;
}

.unit-btn-group {
		display: flex;
		justify-content: center;
		border-radius: 5px;
		align-items: center;
}

.unit-btn-group .button {
		border: 1px solid #dbdbdb;
		border-radius: 5px;
		background-color: linear-gradient(to top, rgba(217, 217, 217, 1) 0%, rgba(202, 202, 202, 0.5) 100%);
		font-family: 'Raleway';
		font-style: normal;
		font-weight: 400;
		color: grey;
		width: 5vw;
		font-size: 1em;
		padding: 0.375em;
		text-align: center;
		box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
}

.unit-btn-group .active {
		background-image: linear-gradient(to top, rgba(217, 217, 217, 1) 0%, rgba(202, 202, 202, 0.5) 100%);
		color: #157EFB;
		box-shadow: inset 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
}

.unit-btn-group .button:focus {
		outline: none;
}

.unit-btn-group .button:first-child {
		border-bottom-right-radius: 0;
		border-top-right-radius: 0;
		border-right: 0;
}

.unit-btn-group .button:last-child {
		border-bottom-left-radius: 0;
		border-top-left-radius: 0;
		border-left: 0;
}
