:root {
		--text-color: #e3e3bc;
		--alt-text-color: #B0C4DE;
}

.current_weather_body {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-flow: column;
		font-family: 'Droid Serif';
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
}

.container {
		background-image: linear-gradient(to bottom, #a5cdfc 0%, #c9c9c9 100%);
		border-radius: 5px;
		padding: 1vh 9vw;
		background: rgba(0, 0, 0, 0.5);
		box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
}

@media (min-width: 320px) and (max-width: 409px) and (orientation: portrait) {
		.container {
				display: block;
				width: 100%;
		}
}

@media (min-width: 410px) and (max-width: 959px) and (orientation: portrait) {
		.container {
				padding: .5vh 4vw;
		}
}

.current_city {
		font-family: 'Raleway';
		font-style: normal;
		font-weight: 400;
		color: #157EFB;
		font-size: 2em;
		text-align: center;
		padding-top: 1vh;
}

@media (max-width: 320px) and (orientation: portrait) {
		.current_city {
				font-size: 1.5em;
		}
}

.current_time {
		text-align: center;
		margin-bottom: 1vh;
		color: var(--alt-text-color);
		font-size: 1rem;
}

.current_conditions-wrapper {
		display: flex;
		justify-content: center;
		color: var(--alt-text-color);
}

.current_conditions {
		padding-left: .5vw;
		align-self: flex-end;
}

.icon-weather {
		padding-right: .5vw;
}

.temperature-wrapper {
		display: flex;
		justify-content: center;
		padding: 0 3.75vw;
}

.temperature_icon {
		padding-right: .5vw;
		align-self: center;
}

.temperature {
		font-size: 4em;
		text-align: center;
		color: var(--text-color);
}

@media (max-width: 320px) and (orientation: portrait) {
		.temperature {
				font-size: 2.5em;
		}
}

@media (min-width: 320px) and (orientation: landscape) {
		.temperature {
				font-size: 2em;
		}
}

.feels_like {
		font-size: 1rem;
		text-align: center;
		color: var(--alt-text-color);
}

.humidity-wrapper {
		display: flex;
		justify-content: center;
}

.humidity {
		font-size: 1em;
		align-self: center;
		padding-left: .5em;
		color: var(--text-color);
}

.wind-wrapper {
		display: flex;
		justify-content: center;
		margin: .5em 0;
}

.wind {
		font-size: 1em;
		align-self: center;
		padding-left: .5em;
		color: var(--text-color);
}

.rain-wrapper {
		display: flex;
		justify-content: center;
}

.rain-today {
		font-size: 1em;
		align-self: center;
		padding-left: .75em;
		color: var(--text-color);
}
