@import url('https://fonts.googleapis.com/css?family=Droid+Serif|Raleway');

.App-header {
		display: flex;
		background-color: #F0F8FF;
		justify-content: center;
		align-items: center;
		box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
		width: 100vw;
		z-index: 2;
}

.Title {
		color: lightgrey;
		font-family: 'Raleway', sans-serif;
		font-size: 2rem;
		margin: .5vh;
}
